:host {
  display: block;
}

.poke-title {
  display: flex;
  align-items: center;
}

h3 {
  margin-top: 2em;
}

.poke-name {
  margin: 0 0 0 5px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
}
