<ng-container *ngIf="pdPokeMoveNames">
  <h4 nz-typography><span data-smoke="poke-moves-count">{{ pdPokeMoveNames.length }}</span> moves:</h4>
  <nz-tag
    *ngFor="let moveName of pdPokeMoveNames | slice:0:pokeMovesVisibleCount"
    class="poke-tag"
    data-smoke="poke-move-link"
    (click)="openMoveDetails(moveName)"
    [nzColor]="previouslyClickedMove === moveName ? 'geekblue' : undefined"
  >{{ moveName }}</nz-tag>
  <nz-tag
    *ngIf="pokeMovesVisibleCount < pdPokeMoveNames.length"
    class="poke-tag"
    data-smoke="poke-move-show-all-link"
    (click)="showAllMoves()"
    [nzColor]="'black'"
  >Show all ({{pdPokeMoveNames.length - pokeMovesVisibleCount}} more)
  </nz-tag>
  <nz-tag
    *ngIf="pokeMovesVisibleCount === pdPokeMoveNames.length"
    class="poke-tag"
    data-smoke="poke-move-show-less-link"
    (click)="showLessMoves()"
    [nzColor]="'black'"
  >Show less
  </nz-tag>
</ng-container>

<ng-template #movesModalContent>
  <nz-spin
    [nzSpinning]="pokeMoveLoading"
  >
    <div class="poke-move-details-container">
      <span>Type:</span>
      <nz-tag
        class="poke-tag poke-no-pointer poke-grid-tag"
      >{{ pokeMoveDetails.type }}</nz-tag>
      <span>Damage class:</span>
      <nz-tag
        class="poke-tag poke-no-pointer poke-grid-tag"
      >{{ pokeMoveDetails.damageClass }}</nz-tag>
      <span>Effects:</span>
      <div *ngFor="let effect of pokeMoveDetails.effects">
        <nz-tag
          class="poke-tag poke-no-pointer poke-grid-tag"
        >{{ effect }}</nz-tag>
      </div>
    </div>
  </nz-spin>
</ng-template>
