<h2 nz-typography>List of Pokemons</h2>

<poke-paginated-pokemon-list
  [pdCustomTemplate]="customPageTemplate"
  [pdElementsTotal]="pokemonNames.length"
  [pdPokemonList]="pokeList"
  [pdSpinning]="refreshingPokemons"
  (pdPageIndexChange)="pageIndexChange($event)"
  (pdPageSizeChange)="pageSizeChange($event)"
></poke-paginated-pokemon-list>

<ng-template #customPageTemplate>
  <form nz-form>
    <nz-form-item>
      <nz-form-control
        nzErrorTip="Please input your username!"
      >
        <nz-input-group
          class="poke-input-icon-placeholder"
          [nzAddOnBefore]="'Search by name'"
          [nzPrefixIcon]="'search'"
          [nzSuffix]="suffixIconClear"
        >
          <input
            data-smoke="poke-search-box"
            nz-input
            [formControl]="pokeSearchControl"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #suffixIconClear>
    <i
      data-smoke="poke-clear-search"
      (click)="clearSearchInput()"
      class="poke-search-clear-icon"
      nz-icon
      [nzType]="'clear'"
      [nzTheme]="'outline'"
      nz-tooltip
      [nzTooltipTitle]="'Clear input'"
    ></i>
  </ng-template>
</ng-template>
