:host {
  display: block;
}

.poke-title {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.poke-name {
  margin-left: 5px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.poke-stat-placeholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.poke-stat {
  margin: 10px;
  flex-grow: 0;
}

h3 {
  margin-top: 2em;
}

nz-tag {
  margin-bottom: 4px;
  cursor: pointer;
  text-transform: capitalize;
}
