:host {
  display: block;
}

.poke-title {
  display: flex;
  align-items: center;
}

.poke-name {
  margin: 0 0 0 5px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
}

.poke-stat-placeholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poke-stat {
  margin: 1rem 10px 3rem 10px;
  flex-grow: 0;
}

h3 {
  margin-top: 2em;
}

.poke-detail-section {
  margin-bottom: 3rem;
}

nz-tag {
  margin-bottom: 4px;
  cursor: pointer;
  text-transform: capitalize;
  white-space: pre-wrap;

  &.poke-no-pointer {
    cursor: auto;
  }
}

ul {
  padding-left: 10px;

  li {
    list-style-type: none;
  }
}
