@import './../variables';

.poke-main-layout {
  min-height: 100%;
}

nz-sider {
  min-height: 100vh;
}

.poke-page-header {
  display: flex;
  align-items: center;
  max-width: $max-page-content-width;
  margin: 10px;
  border-radius: 6px;
  background: #fff;

  &-title {
    margin: 0;
  }
}

.poke-inner-content {
  max-width: $max-page-content-width;
  margin: 10px;
  padding: 24px;
  background: #fff;
}

.poke-breadcrumbs {
  margin: 0 10px;
}

@media screen and (max-width: $small-viewport-width-boundary) {
  .poke-page-header {
    display: none
  }
}
