:host {
  display: block;
}

poke-my-pokemons-section {
  display: block;

  &:first-child {
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
}
