<ng-container *ngIf="pdPokeTypeName && pdPokeNamesWithCount">
  <h4 nz-typography>
    <span data-smoke="poke-names-count">{{ pdPokeNamesWithCount.pokeNames.length }}</span> other {{ pdPokeTypeName }} Pokemons:
  </h4>
  <nz-tag
    *ngFor="let pokeName of pdPokeNamesWithCount.pokeNames | slice:0:pdPokeNamesWithCount.visibleCount"
    class="poke-tag"
    data-smoke="poke-name-link"
    (click)="pdPokeNameClick.emit(pokeName)"
    [nzColor]="isCurrentPoke(pokeName) ? 'geekblue' : undefined"
  >{{ pokeName }}</nz-tag>
  <nz-tag
    *ngIf="pdPokeNamesWithCount.visibleCount < pdPokeNamesWithCount.pokeNames.length"
    class="poke-tag"
    data-smoke="poke-name-show-all-link"
    (click)="showAllPokemons()"
    [nzColor]="'black'"
  >Show all ({{pdPokeNamesWithCount.pokeNames.length - pdPokeNamesWithCount.visibleCount }} more)
  </nz-tag>
  <nz-tag
    *ngIf="pdPokeNamesWithCount.visibleCount === pdPokeNamesWithCount.pokeNames.length"
    class="poke-tag"
    data-smoke="poke-name-show-less-link"
    (click)="showLessPokemons()"
    [nzColor]="'black'"
  >Show less
  </nz-tag>
</ng-container>
