/* You can add global styles to this file, and also import other style files */

@import 'variables.scss';

nz-list-item-meta-avatar {
  align-self: center;
}

.poke-text-emphasis {
  font-style: italic;
}

nz-statistic-number {
  display: block;
  text-align: center;
}

nz-tag.poke-tag {
  margin-bottom: 4px;
  cursor: pointer;
  text-transform: capitalize;
  white-space: pre-wrap;

  &.poke-no-pointer {
    cursor: auto;
  }
}

@media screen and (max-width: $small-viewport-width-boundary) {
  .poke-row {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: initial;

    ul {
      margin: 0;

      li {
        em {
          display: none;
        }
        a+em {
          display: block;
        }
      }
    }
  }
}
