/* You can add global styles to this file, and also import other style files */

$max-page-content-width: 1000px;

nz-list-item-meta-avatar {
  align-self: center;
}

.poke-text-emphasis {
  font-style: italic;
}
